# Temporary File and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store # Cache Mac Os

# Virtual environment
.venv/
venv/
env/
ENV/
virtualenv/
*.egg-info/

# Cache log
*.log

# Local configuration file
config/credentials_template.json  # Important! dont commit
.env #Local environment file

# Database File
*.sqlite
*.db

# Distribution/build file
dist/
build/
*.whl

# Text editor cache
.idea/           # IntelliJ IDEA
.vscode/         # Visual Studio Code
*.swp            # Vim swap files
*~               # Editor backup files
.ropeproject     # Rope project files (Python refactoring tool)

# File from os system
Thumbs.db
ehthumbs.db
